<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.egi.mff</string>
				<string>gov.nih.nifti-1</string>
				<string>gov.nih.nifti-1-gzip</string>
				<string>org.nitrc.gifti</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>0</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>gov.nih.nifti-1-gzip</string>
			<key>UTTypeDescription</key>
			<string>Compressed NIfTI Neuroimaging Volume</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>gov.nih.nifti-1</string>
				<string>public.data</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nii.gz</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gzip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.nitrc.gifti</string>
			<key>UTTypeDescription</key>
			<string>GIFTI Surface Data</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gii</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gifti+xml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
