<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.egi.mff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CIFTI Connectivity Data</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.nitrc.cifti-2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NIfTI Neuroimaging Volume</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gov.nih.nifti-1</string>
				<string>gov.nih.nifti-1-gzip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GIFTI Surface Data</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.nitrc.gifti</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FreeSurfer MGH/MGZ Volume</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.freesurfer.mgh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DICOM Medical Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.nema.dicom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MNE/Neuromag FIF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.mne-tools.fif</string>
				<string>org.mne-tools.fif-gzip</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CIFTI-2 Connectivity Data</string>
			<key>UTTypeIdentifier</key>
			<string>org.nitrc.cifti-2</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.nitrc.org/projects/cifti/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dconn.nii</string>
					<string>dtseries.nii</string>
					<string>pconn.nii</string>
					<string>ptseries.nii</string>
					<string>dscalar.nii</string>
					<string>dlabel.nii</string>
					<string>pscalar.nii</string>
					<string>pdconn.nii</string>
					<string>dpconn.nii</string>
					<string>pconnseries.nii</string>
					<string>pconnscalar.nii</string>
					<string>sdseries.nii</string>
					<string>dfan.nii</string>
					<string>dfibersamp.nii</string>
					<string>dfansamp.nii</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-cifti</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EGI MFF Recording</string>
			<key>UTTypeIdentifier</key>
			<string>com.egi.mff</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mff</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NIfTI Neuroimaging Volume</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nih.nifti-1</string>
			<key>UTTypeReferenceURL</key>
			<string>https://nifti.nimh.nih.gov/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nii</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-nifti</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>gov.nih.nifti-1</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed NIfTI Neuroimaging Volume</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nih.nifti-1-gzip</string>
			<key>UTTypeReferenceURL</key>
			<string>https://nifti.nimh.nih.gov/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nii.gz</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gzip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GIFTI Surface Data</string>
			<key>UTTypeIdentifier</key>
			<string>org.nitrc.gifti</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.nitrc.org/projects/gifti/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gii</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gifti+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FreeSurfer MGH/MGZ Volume</string>
			<key>UTTypeIdentifier</key>
			<string>org.freesurfer.mgh</string>
			<key>UTTypeReferenceURL</key>
			<string>https://surfer.nmr.mgh.harvard.edu/fswiki/FsTutorial/MghFormat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mgh</string>
					<string>mgz</string>
					<string>mgh.gz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DICOM Medical Image</string>
			<key>UTTypeIdentifier</key>
			<string>org.nema.dicom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dcm</string>
					<string>ima</string>
				</array>
				<key>public.mime-type</key>
				<string>application/dicom</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MNE/Neuromag FIF</string>
			<key>UTTypeIdentifier</key>
			<string>org.mne-tools.fif</string>
			<key>UTTypeReferenceURL</key>
			<string>https://mne.tools/stable/documentation/implementation.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fif</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.mne-tools.fif</string>
				<string>public.data</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compressed MNE/Neuromag FIF</string>
			<key>UTTypeIdentifier</key>
			<string>org.mne-tools.fif-gzip</string>
			<key>UTTypeReferenceURL</key>
			<string>https://mne.tools/stable/documentation/implementation.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fif.gz</string>
				</array>
				<key>public.mime-type</key>
				<string>application/gzip</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
